html
    head
        title Add Restaurant
    script(src="../client.js")
    body
        a(href=`/addrestaurant`) Add Restaurant Page
        br
        a(href=`/restaurants`) Restaurant List Page
        br
        a(href=`/`) Home Page
        h1 New Restaurant Form:

        p Enter data into the form below to add a new restaurant.

        p Name:
            input#name(type="textbox")
        p Delivery Fee:
            input#delivery_fee(type="textbox")
        p Minimum Order:
            input#min_order(type="textbox")
        button#refresh(type="button" onclick="submit()") Add