link(rel='stylesheet', href='style.css')
header
    a(href="/")= "Home Page"
    br
    a(href="/insertBook")= `Book Insert Page`
    br
    a(href=`/bookSearch`)= `Book Search Page`
    br
    a(href=`/currentCart`)= `View Cart`
    br
body
    ul
        for item in cart
            li= `Title: ${item.title}, Quantity: ${item.quantity}, ISBN: ${item.isbn}`