html
    head
        title Home Page 
    body 
        a(href=`/addrestaurant`) Add Restaurant Page
        br
        a(href=`/restaurants`) Restaurant List Page
        br
        a(href=`/`) Home Page
        h1 Welcome to Restaurant Manager