script(src="client.js") 
head
    p This is the test for the home page
body
    p Book List:
        p Search:
            input#searchCondition(type="textbox")
            button#searchButton(type="button" onclick="search()") Search for books
    ul
        for row in rows
            li= `Title: ${row.title}, Genre: ${row.genre} ISBN: ${row.isbn}`
            a(href= `https://boppa-bat-bookstore.herokuapp.com/bookRedirect/${row.isbn}`) Link to specific book page
