html
    head
        title Restaurants View 
    body 
        a(href=`/addrestaurant`) Add Restaurant Page
        br
        a(href=`/restaurants`) Restaurant List Page
        br
        a(href=`/`) Home Page
        h1 Restaurants view
        ul
            for restaurant in restaurants
                a(href=`/restaurants/${restaurant.id}`)= `${restaurant.name}`
                br
                br